In [1]:
import pandas as pd

### 데이터프레임 클래스
2차원 형태의 행렬에 열과 행에 대한 인덱스가 붙은 형태.   
즉,표(table)  

#### 데이터프레임 생성 방법
1. 열 인덱스 배열 혹은 리스트를 생성  
2. 행 인덱스 배열 혹은 리스트를 생성  
3. 각 열과 행에 해당하는 데이터를 가지고 있는 딕셔너리를 생성  
4. pandas 패키지의 DataFrame 클래스의 생성자로 데이터 딕셔너리와 행 인덱스, 열 인덱스를 전달하여 생성

In [20]:
columns = ['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'] # 열 인덱스
index = ['서울,', '부산', '인천', '대구'] # 행 인덱스
data = {
  '2015': [9904312, 3448737, 2890451, 2466052],
  '2010': [9613482, 3393191, 2632035, 2431774],
  '2005': [9762546, 3512547, 2517680, 2456016],
  '2000': [9853972, 3655437, 2466338, 2473990],
  '지역': ['수도권', '경상권', '수도권', '경상권'],
  '2010-2015 증가율': [.0283, .0163, .0892, .0141]
}

df = pd.DataFrame(data, index=index, columns=columns)
df

      지역     2015     2010     2005     2000  2010-2015 증가율
서울,  수도권  9904312  9613482  9762546  9853972         0.0283
부산   경상권  3448737  3393191  3512547  3655437         0.0163
인천   수도권  2890451  2632035  2517680  2466338         0.0892
대구   경상권  2466052  2431774  2456016  2473990         0.0141

`values` 속성 : 데이터에 대한 배열 반환  
 `columns` 속성 : 열 인덱스에 대한 배열 반환  
  `index` 속성 : 행 인덱스에 대한 배열 반환

In [8]:
df.values

array([['수도권', 9904312, 9613482, 9762546, 9853972, 0.0283],
       ['경상권', 3448737, 3393191, 3512547, 3655437, 0.0163],
       ['수도권', 2890451, 2632035, 2517680, 2466338, 0.0892],
       ['경상권', 2466052, 2431774, 2456016, 2473990, 0.0141]], dtype=object)

In [9]:
df.columns

Index(['지역', '2015', '2010', '2005', '2000', '2010-2015 증가율'], dtype='object')

In [10]:
df.index

Index(['서울,', '부산', '인천', '대구'], dtype='object')

In [23]:
df.index.name = '도시'
df.columns.name = '특성'
df

특성    지역     2015     2010     2005     2000  2010-2015 증가율
도시
서울,  수도권  9904312  9613482  9762546  9853972         0.0283
부산   경상권  3448737  3393191  3512547  3655437         0.0163
인천   수도권  2890451  2632035  2517680  2466338         0.0892
대구   경상권  2466052  2431774  2456016  2473990         0.0141

데이터프레임은 넘파이 2차원 배열이 제공하는 대부분의 속성과 메서드를 지원함

In [24]:
df.T

도시                 서울,       부산       인천       대구
특성
지역                 수도권      경상권      수도권      경상권
2015           9904312  3448737  2890451  2466052
2010           9613482  3393191  2632035  2431774
2005           9762546  3512547  2517680  2456016
2000           9853972  3655437  2466338  2473990
2010-2015 증가율   0.0283   0.0163   0.0892   0.0141

In [28]:
index = ['서울', '인천', '부산', '울산', '대구']
columns = ['지역', '최저기온', '최고기온', '오전 강수확률', '오후 강수확률']
data = {
  '서울': [-2, -1, 2, 3, 1],
  '인천': [7, 6, 9, 7, 1],
  '오전 강수확률': [.2, .2, .3, .3, .3],
  '오후 강수확률': [.6, .6, .6, .6 , .6]
}

dff = pd.DataFrame(data, columns=columns, index=index)
dff

     지역 최저기온 최고기온  오전 강수확률  오후 강수확률
서울  NaN  NaN  NaN      0.2      0.6
인천  NaN  NaN  NaN      0.2      0.6
부산  NaN  NaN  NaN      0.3      0.6
울산  NaN  NaN  NaN      0.3      0.6
대구  NaN  NaN  NaN      0.3      0.6