In [3]:
import pandas as pd
import numpy as np

### 데이터페이스 입력
데이터베이스에 있는 데이터를 데이터프레임으로 받아오기 위해서는 각 DBMS에 맞는 connector를 사용하여야함  

##### mysql connerctor
```bash
pip install mysql-connector-python
```

```python
import mysql.connector
```

In [6]:
import mysql.connector

In [8]:
try:
  conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='root',
    database='real_estate'
  )

  if conn.is_connected():
    print('데이터베이스 연결 성공')

except Exception as e:
  print('데이터 베이스 접속실패', e)

finally:
  if conn.is_connected():
    conn.close()
    print('데이터베이스 연결 해제')

데이터베이스 연결 성공
데이터베이스 연결 해제

데이터베이스 연결 후 쿼리 작업을 할 때는 `cursor` 객체를 사용

In [9]:
try:
  conn = mysql.connector.connect(
    host='127.0.0.1',
    user='root',
    password='root',
    database='real_estate'
  )

  if conn.is_connected():
    cursor=conn.cursor()
    query='SELECT * FROM user'
    cursor.execute(query)

    for record in cursor:
      print(record)


except Exception as e:
  print('데이터 베이스 접속실패', e)

finally:
  if conn.is_connected():
    conn.close()
    print('데이터베이스 연결 해제')

('galaxy', 'P!ssw0rd', 'galaxy@email.com', 'HOME', 'NOMAL')
('userID', 'P!ssw0rd', 'email@email.com', 'HOME', 'NOMAL')
데이터베이스 연결 해제